"devServer":{
  "proxy": {
    "/api": {
     target: 'https://reqres.in/api/users',
    "pathRewrite": { '^/api': '' },
    "changeOrigin": true,
    "secure": false
    },
   
    "/post": {
       target: 'https://reqres.in/api/users',// for example
    "pathRewrite": { '^/post': '' },
    "changeOrigin": true
    }
  }
}
